<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <!-- 由 Spring容器创建该类的实例对象 -->
    <bean id="personImpl" class="cn.scut.dao.PersonImpl" />
    <bean id="personImpl2" class="cn.scut.dao.PersonImpl2" />
    
    <bean id="personServiceImpl" class="cn.scut.service.PersonServiceImpl">
    	<!-- <property name="personDao" ref="personImpl2"/> --> 
    	<constructor-arg name="personDao" ref="personImpl2" />
    	<constructor-arg name="name" value="yao" />
    </bean>
</beans>