<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<package name="edu.scut.pojo"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/mybatis?serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;allowMultiQueries=true" />
				<property name="username" value="root" />
				<property name="password" value="hailian2020" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="edu/scut/dao/UserMapper.xml" />
		<mapper resource="edu/scut/dao/StudentMapper.xml" />
		<mapper resource="edu/scut/dao/TeacherMapper.xml" />
		<mapper resource="edu/scut/dao/BlogMapper.xml" />
	</mappers>
</configuration>